---
import { AuthDebug } from "@/components/auth/AuthDebug";
import Layout from "../../layouts/Layout.astro";
import { UpdatePassword } from "@/components/auth/UpdatePasswordForm";
---

<Layout title="Reset Password">
  <div class="container max-w-screen-sm mx-auto px-4 py-8">
    <AuthDebug client:load />
  </div>
</Layout>
