---
import phoneFeature from "../../assets/images/profile-phone.jpg";
import clubsEvents from "../../assets/images/clubs-events.png";
import featured from "../../assets/images/featured.png";
---

<!-- Start -->
<section class="relative md:py-24 py-16" id="features">
    <div class="container relative">
        <div class="grid grid-cols-1 pb-6 text-center">
            <h6
                class="text-pink-500 uppercase text-sm font-bold tracking-wider mb-3"
            >
                Features
            </h6>
            <h4
                class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-bold"
            >
                Connect With Women in the Lifestyle
            </h4>

            <p class="text-slate-400 max-w-xl mx-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div><!--end grid-->

        <div class="grid grid-cols-12 mt-6 gap-6 items-center">
            <div class="md:col-span-4 col-span-12 md:order-1 order-2">
                <div class="grid grid-cols-1 gap-6">
                    <div class="group flex duration-500 xl:p-3">
                        <div
                            class="flex md:order-2 order-1 align-middle justify-center items-center size-16 mt-1 bg-pink-500/5 group-hover:bg-pink-500 group-hover:text-white text-pink-500 rounded-2xl text-2xl shadow-sm dark:shadow-gray-800 duration-500"
                        >
                            <i data-feather="monitor" class="size-5"></i>
                        </div>
                        <div
                            class="flex-1 md:order-1 order-2 md:text-end md:me-4 md:ms-0 ms-4"
                        >
                            <h4 class="mb-0 text-lg font-semibold">
                                Feature One
                            </h4>
                            <p class="text-slate-400 mt-3">
                                One disadvantage of Lorum Ipsum is that in Latin
                                frequently than others
                            </p>
                        </div>
                    </div>
                    <!--end feature-->

                    <div class="group flex duration-500 xl:p-3">
                        <div
                            class="flex md:order-2 order-1 align-middle justify-center items-center size-16 mt-1 bg-pink-500/5 group-hover:bg-pink-500 group-hover:text-white text-pink-500 rounded-2xl text-2xl shadow-sm dark:shadow-gray-800 duration-500"
                        >
                            <i data-feather="feather" class="size-5"></i>
                        </div>
                        <div
                            class="flex-1 md:order-1 order-2 md:text-end md:me-4 md:ms-0 ms-4"
                        >
                            <h4 class="mb-0 text-lg font-semibold">
                                Feature Two
                            </h4>
                            <p class="text-slate-400 mt-3">
                                One disadvantage of Lorum Ipsum is that in Latin
                                frequently than others
                            </p>
                        </div>
                    </div>
                    <!--end feature-->

                    <div class="group flex duration-500 xl:p-3">
                        <div
                            class="flex md:order-2 order-1 align-middle justify-center items-center size-16 mt-1 bg-pink-500/5 group-hover:bg-pink-500 group-hover:text-white text-pink-500 rounded-2xl text-2xl shadow-sm dark:shadow-gray-800 duration-500"
                        >
                            <i data-feather="eye" class="size-5"></i>
                        </div>
                        <div
                            class="flex-1 md:order-1 order-2 md:text-end md:me-4 md:ms-0 ms-4"
                        >
                            <h4 class="mb-0 text-lg font-semibold">
                                Feature Three
                            </h4>
                            <p class="text-slate-400 mt-3">
                                One disadvantage of Lorum Ipsum is that in Latin
                                frequently than others
                            </p>
                        </div>
                    </div>
                    <!--end feature-->
                </div>
            </div>

            <div
                class="md:col-span-4 col-span-12 mx-auto lg:mx-4 md:order-2 order-1"
            >
                <img
                    src={phoneFeature.src}
                    class="mx-auto w-full max-w-xs"
                    alt=""
                />
            </div>

            <div class="md:col-span-4 col-span-12 order-3">
                <div class="grid grid-cols-1 gap-6">
                    <div class="group flex duration-500 xl:p-3">
                        <div
                            class="flex align-middle justify-center items-center size-16 mt-1 bg-pink-500/5 group-hover:bg-pink-500 group-hover:text-white text-pink-500 rounded-2xl text-2xl shadow-sm dark:shadow-gray-800 duration-500"
                        >
                            <i data-feather="user-check" class="size-5"></i>
                        </div>
                        <div class="flex-1 ms-4">
                            <h4 class="mb-0 text-lg font-semibold">
                                Feature Four
                            </h4>
                            <p class="text-slate-400 mt-3">
                                One disadvantage of Lorum Ipsum is that in Latin
                                frequently than others
                            </p>
                        </div>
                    </div>
                    <!--end feature-->

                    <div class="group flex duration-500 xl:p-3">
                        <div
                            class="flex align-middle justify-center items-center size-16 mt-1 bg-pink-500/5 group-hover:bg-pink-500 group-hover:text-white text-pink-500 rounded-2xl text-2xl shadow-sm dark:shadow-gray-800 duration-500"
                        >
                            <i data-feather="smartphone" class="size-5"></i>
                        </div>
                        <div class="flex-1 ms-4">
                            <h4 class="mb-0 text-lg font-semibold">
                                Feature Five
                            </h4>
                            <p class="text-slate-400 mt-3">
                                One disadvantage of Lorum Ipsum is that in Latin
                                frequently than others
                            </p>
                        </div>
                    </div>
                    <!--end feature-->

                    <div class="group flex duration-500 xl:p-3">
                        <div
                            class="flex align-middle justify-center items-center size-16 mt-1 bg-pink-500/5 group-hover:bg-pink-500 group-hover:text-white text-pink-500 rounded-2xl text-2xl shadow-sm dark:shadow-gray-800 duration-500"
                        >
                            <i data-feather="heart" class="size-5"></i>
                        </div>
                        <div class="flex-1 ms-4">
                            <h4 class="mb-0 text-lg font-semibold">
                                Feature Six
                            </h4>
                            <p class="text-slate-400 mt-3">
                                One disadvantage of Lorum Ipsum is that in Latin
                                frequently than others
                            </p>
                        </div>
                    </div>
                    <!--end feature-->
                </div>
            </div>
        </div><!--end grid-->
    </div><!--end container-->

    <div class="container relative md:mt-24 mt-16">
        <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-6">
            <div class="lg:col-span-5 md:col-span-6">
                <div
                    class="pt-6 px-6 rounded-2xl bg-pink-500/5 shadow shadow-pink-500/20"
                >
                    <img src={clubsEvents.src} alt="Clubs and Events Screen" />
                </div>
            </div><!--end grid-->

            <div class="lg:col-span-7 md:col-span-6">
                <div class="lg:ms-10 space-y-4">
                    <h6
                        class="text-pink-500 uppercase text-sm font-bold tracking-wider"
                    >
                        Customizable
                    </h6>
                    <h4
                        class="md:text-3xl text-2xl md:leading-normal leading-normal font-bold"
                    >
                        Work Faster With <br /> Powerful Tools
                    </h4>
                    <p class="text-slate-400 max-w-xl">
                        Unleash the power of our platform with a multitude of
                        powerful features, empowering you to achieve your goals.
                    </p>

                    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
                        <div
                            class="group flex relative overflow-hidden p-6 rounded-md shadow dark:shadow-gray-800 bg-slate-50/50 hover:bg-pink-500 duration-500"
                        >
                            <span
                                class="text-pink-500 group-hover:text-white text-5xl font-semibold duration-500"
                            >
                                <i data-feather="shield" class="size-8 mt-2"
                                ></i>
                            </span>
                            <div class="flex-1 ms-3">
                                <h5
                                    class="group-hover:text-white text-lg font-semibold duration-500"
                                >
                                    Enhance Security
                                </h5>
                                <p
                                    class="text-slate-400 group-hover:text-white/50 duration-500 mt-2"
                                >
                                    There are many variations of passages of
                                    Lorem Ipsum available
                                </p>
                            </div>
                            <div
                                class="absolute start-1 top-5 text-slate-900/[0.02] dark:text-white/[0.03] text-8xl group-hover:text-white/[0.1] duration-500"
                            >
                                <i data-feather="shield" class="size-24"></i>
                            </div>
                        </div>

                        <div
                            class="group flex relative overflow-hidden p-6 rounded-md shadow dark:shadow-gray-800 bg-slate-50/50 hover:bg-pink-500 duration-500"
                        >
                            <span
                                class="text-pink-500 group-hover:text-white text-5xl font-semibold duration-500"
                            >
                                <i data-feather="aperture" class="size-8 mt-2"
                                ></i>
                            </span>
                            <div class="flex-1 ms-3">
                                <h5
                                    class="group-hover:text-white text-lg font-semibold duration-500"
                                >
                                    High Performance
                                </h5>
                                <p
                                    class="text-slate-400 group-hover:text-white/50 duration-500 mt-2"
                                >
                                    There are many variations of passages of
                                    Lorem Ipsum available
                                </p>
                            </div>
                            <div
                                class="absolute start-1 top-5 text-slate-900/[0.02] dark:text-white/[0.03] text-8xl group-hover:text-white/[0.1] duration-500"
                            >
                                <i data-feather="aperture" class="size-24"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end grid-->
    </div><!--end container-->

    <div class="container relative md:mt-24 mt-16">
        <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-6">
            <div class="lg:col-span-5 md:col-span-6 md:order-2 order-1">
                <div
                    class="pt-6 px-6 rounded-2xl bg-pink-500/5 shadow shadow-pink-500/20"
                >
                    <img src={featured.src} alt="" />
                </div>
            </div><!--end grid-->

            <div class="lg:col-span-7 md:col-span-6 md:order-1 order-2">
                <div class="lg:me-10 space-y-4">
                    <h6
                        class="text-pink-500 uppercase text-sm font-bold tracking-wider"
                    >
                        Elegant Design
                    </h6>
                    <h4
                        class="md:text-3xl text-2xl md:leading-normal leading-normal font-bold"
                    >
                        Share your photos with <br /> friends easily
                    </h4>
                    <p class="text-slate-400 max-w-xl">
                        Unleash the power of our platform with a multitude of
                        powerful features, empowering you to achieve your goals.
                    </p>
                    <p class="text-slate-400 max-w-xl">
                        Unleash the power of our platform with a multitude of
                        powerful features, empowering you to achieve your goals.
                    </p>
                </div>
            </div>
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
