---
import { ArrowRight, Mail } from "lucide-react";
import phone2 from "../../assets/images/two-phone.png";
import apple from "../../assets/images/app.png";
import google from "../../assets/images/play.png";
---

<section class="relative table w-full py-24 overflow-hidden" id="home">
    <div class="container mx-auto relative">
        <div
            class="relative grid md:grid-cols-12 grid-cols-1 items-center mt-10 gap-[30px]"
        >
            <div class="md:col-span-6">
                <div class="md:me-6">
                    <h6 class="text-sm font-bold tracking-wider mb-3">
                        #No1 Trending Apps On Play Store
                    </h6>
                    <h4
                        class="font-bold lg:leading-normal leading-normal text-4xl lg:text-[54px] mb-5"
                    >
                        Landing Page For <br /> Showcase App
                    </h4>
                    <p class="text-slate-400 text-lg max-w-xl">
                        Looking for the Perfect Couple or Unicorn to Connect
                        with? Unicorn Landing gives Women in the Lifestyle the
                        Power to make those Connections in a Safe Space.
                    </p>

                    <div class="my-6">
                        <a href=""
                            ><img
                                src={apple.src}
                                class="h-12 inline-block m-1"
                                alt=""
                            /></a
                        >
                        <a href=""
                            ><img
                                src={google.src}
                                class="h-12 inline-block m-1"
                                alt=""
                            /></a
                        >
                    </div>
                </div>
            </div><!--end col-->

            <div class="md:col-span-6">
                <div
                    class="relative after:content-[''] after:absolute after:md:bottom-48 after:-bottom-20 lg:after:-start-10 md:after:-start-20 after:-start-24
              after:bg-pink-500 after:shadow-2xl after:shadow-pink-500/40 after:z-1 after:rotate-[130deg] after:w-[75rem] after:md:h-[45rem] after:h-[30rem] after:rounded-[30rem]"
                >
                    <img
                        src={phone2.src}
                        class="w-full relative z-2 mover"
                        alt=""
                    />
                </div>
            </div><!--end col-->
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->
