---
import logoDark from "../../assets/images/logo-pink.svg";
import logoLight from "../../assets/images/logo-light.png";
import appstore from "../../assets/images/appstore.png";
import playstore from "../../assets/images/playstore.png";
import { Menu } from "lucide-astro";
---

<!-- Navbar Start --><!-- Navbar Start -->
<nav class="navbar bg-white shadow" id="navbar">
    <div class="container mx-auto relative flex items-center justify-between">
        <a class="navbar-brand md:me-8" href="/">
            <div class="flex gap-2 items-center">
                <img
                    src={logoDark.src}
                    class="h-12 inline-block dark:hidden"
                    alt=""
                />

                <span
                    class="text-pink-400 text-xl font-semibold block leading-none"
                    >Unicorn Landing</span
                >
            </div>
        </a>

        <!-- Navbar Manu -->
        <div
            class="navigation w-full absolute top-full left-0 md:static md:w-auto md:flex hidden"
            id="menu-collapse"
        >
            <ul class="navbar-nav" id="navbar-navlist">
                <li class="nav-item">
                    <a class="nav-link" href="/#features">Features</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/about-us">About Us</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/contact-us">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">Resources</a>
                </li>
            </ul>
        </div>
        <div class="nav-icons flex items-center md:ms-6">
            <!-- Navbar Button -->
            <ul class="list-none menu-social mb-0">
                <li class="inline">
                    <a
                        href="https://apps.apple.com/us/app/unicorn-landing/id1623833827"
                        class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center"
                        ><img src={appstore.src} alt="app store link" /></a
                    >
                </li>

                <li class="inline ms-1">
                    <a
                        href="https://play.google.com/store/apps/details?id=net.unicornlanding.app&pli=1"
                        class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center"
                        ><img src={playstore.src} alt="play store link" /></a
                    >
                </li>
            </ul>
            <!-- Navbar Collapse Manu Button -->
            <button
                data-collapse="menu-collapse"
                type="button"
                class="collapse-btn inline-flex items-center ms-2 text-slate-900 dark:text-white md:hidden"
                aria-controls="menu-collapse"
                aria-expanded="false"
            >
                <span class="sr-only">Navigation Menu</span>
                <Menu class="mdi mdi-menu text-[24px]" />
            </button>
        </div>
    </div>
</nav>
<!-- Navbar End -->

<style lang="scss">
    /*********************************/
    /*             Menu              */
    /*===============================*/
    .navbar {
        @apply fixed bg-white top-0 left-0 right-0 z-[999] py-3 transition-all duration-500;
        .navigation {
            @apply m-0 bg-white p-4 md:p-0 md:bg-transparent;
            .navbar-nav {
                @apply mt-4 md:mt-0 flex flex-col md:flex-row overflow-y-auto max-h-80 md:max-h-none;
                .nav-link {
                    @apply block p-3 text-[14px] text-slate-900 tracking-wider hover:text-pink-500 font-semibold;
                }
                .active {
                    .nav-link {
                        @apply text-pink-500 dark:text-white;
                    }
                }
            }
        }
        .navbar-brand {
            @apply p-0;
            .l-dark,
            .logo-dark-mode {
                @apply hidden;
            }
            .l-light,
            .logo-light-mode {
                @apply inline-block;
            }
            @media (max-width: 991.98px) {
                .l-dark {
                    @apply inline-block #{!important};
                }
                .l-light {
                    @apply hidden #{!important};
                }
            }
        }
        .menu-social {
            .login-btn-primary {
                @apply hidden;
            }
            .login-btn-light {
                @apply inline-block;
            }

            @media (max-width: 991.98px) {
                .login-btn-primary {
                    @apply inline-block #{!important};
                }
                .login-btn-light {
                    @apply hidden #{!important};
                }
            }
        }
        &.is-sticky {
            @apply bg-white dark:bg-slate-900 shadow dark:shadow-gray-800;
            .navbar-brand {
                .l-dark {
                    @apply inline-block;
                }
                .l-light {
                    @apply hidden;
                }
            }

            .menu-social {
                .login-btn-primary {
                    @apply inline-block;
                }
                .login-btn-light {
                    @apply hidden;
                }
            }
        }
    }

    @media (min-width: 992px) {
        .navbar {
            @apply py-3;
            .navigation {
                .navbar-nav {
                    .nav-link {
                        @apply border-0 hover:bg-transparent;
                    }

                    &.nav-light {
                        .nav-link {
                            @apply block p-3 text-white/60 hover:text-white;
                        }
                        .active {
                            .nav-link {
                                @apply text-white;
                            }
                        }
                    }
                }
            }

            .nav-icons {
                .collapse-btn {
                    @apply hidden;
                }
            }
            &.is-sticky {
                @apply py-3;
                .navbar-nav {
                    .nav-link {
                        @apply text-slate-900 dark:text-white/60;
                    }
                    .active {
                        .nav-link {
                            @apply text-pink-500;
                        }
                    }

                    &.nav-light {
                        .nav-link {
                            @apply text-slate-900 hover:text-pink-500 dark:text-white/60 dark:hover:text-white;
                        }
                        .active {
                            .nav-link {
                                @apply text-pink-500 dark:text-white;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        .navbar {
            @apply bg-white shadow #{!important};
        }
    }
</style>
