---
import AdminLayout from "@/layouts/AdminLayout.astro";
import { createClient } from "@/lib/supabase/server";
import SuperAdminSettings from "@/components/admin/superadmin-settings";
import AdminSettings from "@/components/admin/admin-settings";

const supabase = createClient({
    headers: Astro.request.headers,
    cookies: Astro.cookies,
});

const {
    data: { user },
    error,
} = await supabase.auth.getUser();

const isSuperUser: boolean = user?.app_metadata.user_level >= 1000;
---

<AdminLayout title="Settings">
    <div class="space-y-4">
        <div>
            <h1 class="text-2xl font-bold tracking-tight">Settings</h1>
            <p class="text-muted-foreground">Account and platform settings.</p>
        </div>
    </div>
    {
        isSuperUser ? (
            <SuperAdminSettings client:load />
        ) : (
            <AdminSettings client:load />
        )
    }
</AdminLayout>
