---
import AdminLayout from "@/layouts/AdminLayout.astro";
import { createAdminClient } from "@/lib/supabase/admin";
import LinksTable from "@/components/admin/links-table.tsx";

const client = createAdminClient();

const { data: linksData } = await client
    .from("lib_links")
    .select("*")
    .order("order", { ascending: true });

console.log({ linksData });
---

<AdminLayout title="Links">
    <div class="flex flex-col gap-4">
        <LinksTable links={linksData} client:load />
    </div>
</AdminLayout>
